.TabContent {
    border:solid black 1px;
}
.TabButton {
    border:solid black 1px;
    padding:5px;
    padding-left:15px;
    padding-right:15px;
    user-select: none;
    background: rgba(0,0,0,0);
}
.TabButton[Selected=true] {
    background: rgba(100,220,100,0.3);
}
.TabButton[Selected=true]:not([CloseHovered=true]):hover {
    background:rgba(100,220,100,0.5);
}
.TabButton:not([CloseHovered=true]):hover {
    background: rgba(100,100,100,0.2);
}
.TabButton[Disabled=true], .TabButton[Disabled=true]:hover {
    background: rgb(100,100,100);
}
.TabMenu {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid black 1px;
    border-bottom:none;
}

.TabMenu[menuPosition="LEFT"] {
    flex-direction: column;
    max-width: 300px;
}

.TabButton {
    flex-grow: 1;
    text-align: center;
    display:grid;

    grid-template-columns: 1fr 20px;
    grid-template-rows: 20px;

    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;

}
.TabCloseButton {
    background: red;
    border-radius: 50%;
    width: 80%;
    height: 80%;
}

.TabCloseButton:hover {
    background: rgba(230,100,100,0.3);
}
.NoDisplay {
    display: none !important;
}
slot {

    border: solid red 2px;
}