.Overlay-Class {
    display: block;
    width: 100vw;
    height: 100vh;
    position:fixed;

    pointer-events: none;    
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;

}
.Overlay-Class > * {
    pointer-events: all;
}